{% extends "base.html" %}

{% block title %}
<title>Robotics Courses - CORE</title>
{% endblock %}

{% block body %}

<!-- Greet the user -->
<div class="greeting">
    <h1>Hello, {{ username }}! Welcome to your course catalog</h1>
</div>

<div class="course-catalog-container">
    <div class="modules-overview">
        <!-- Course Card 1 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="{{ url_for('module_intro') }}">Introduction to Robotics</a></h2>
            <p>Learn the basics of robotics, from robot anatomy to coding simulations.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">1 hour</span>
            </div>
        </div>

        <!-- Course Card 2 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="{{ url_for('module_two') }}">Types of Robots</a></h2>
            <p>Gain insights into how robots serve unique roles and reshape the future with innovative applications.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">1 hour</span>
            </div>
        </div>

        <!-- Course Card 3 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Robots in CORE</a></h2>
            <p>Discover the unique capabilities of each robot in CORE's virtual lab.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">30 minutes</span>
            </div>
        </div>

        <!-- Course Card 4 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">How to Use the Lab</a></h2>
            <p>Learn step-by-step how to navigate and utilize CORE's Virtual Robotics Lab for coding, simulations, and hands-on learning.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">30 minutes</span>
            </div>
        </div>

        <!-- Course Card 5 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Basic Coding Practices</a></h2>
            <p>Master the fundamentals of coding with essential best practices, debugging techniques, and foundational programming concepts to build a strong programming base.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">30 minutes</span>
            </div>
        </div>

        <!-- Course Card 6 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Fetch Robot</a></h2>
            <p>Acquire the skills required to program and control the Fetch Robot through hands-on techniques and advanced algorithms.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">3 hours</span>
            </div>
        </div>

        <!-- Fetch Stack 3 Blocks -->
        <!-- Fetch Organize based on colors -->
        <!-- Fetch Organize with sensors -->

        <!-- Self-Driving Car using Deep Q-Learning -->


        <!-- Course Card 7 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Fetch Reach Robot</a></h2>
            <p>Achieve the art of precision and control as you learn to maneuver the Fetch Reach Robot.</p>
            <div class="card-footer">
                <div class="certificate">
                    <span>With Certificate</span>
                </div>
                <span class="level">Beginner Friendly</span>
                <span class="duration">2 hours</span>
            </div>
        </div>

        <!-- Course Card 8 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Fetch Push Robot</a></h2>
            <p>Explore the mechanics of robotic pushing with the Fetch Push Robot.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">1 hours</span>
            </div> <!-- Closing tag added here -->
        </div>

        <!-- Course Card 9 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Fetch Slide Robot</a></h2>
            <p>Learn how to program the Fetch Slide Robot to smoothly transport objects using sliding techniques.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">1 hours</span>
            </div>
        </div>

        <!-- Course Card 10 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Fetch Pick & Place Robot</a></h2>
            <p>Become proficient in robotic object manipulation with the Fetch Pick and Place Robot.
                Discover techniques for grasping, lifting, and placing objects accurately using advanced robotic algorithms.</p>
            <div class="card-footer">
                <span class="level">Intermediate</span>
                <span class="duration">2 hours</span>
            </div>
        </div>

        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Fetch Stack Blocks Robot</a></h2>
            <p>Hone the precision of stacking blocks using the Fetch Robot and improve your spatial manipulation skills.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">1 hour</span>
            </div>
        </div>

        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Fetch Color Sort Robot</a></h2>
            <p>Learn to program the Fetch Robot to sort and organize objects based on their colors.</p>
            <div class="card-footer">
                <span class="level">Beginner Friendly</span>
                <span class="duration">2 hours</span>
            </div>
        </div>

        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Fetch Robot w/ Sensors</a></h2>
            <p>Unlock the power of sensors by teaching the Fetch Robot to detect, classify, and organize objects with precision.</p>
            <div class="card-footer">
                <span class="level">Intermediate</span>
                <span class="duration">2 hours</span>
            </div>
        </div>
        
        <!-- Course Card 11 -->
        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Dextrous Hand Robot</a></h2>
            <p>Unlock the secrets of human-like dexterity with the Dexterous Hand Robot.</p>
            <div class="card-footer">
                <span class="level">Intermediate</span>
                <span class="duration">2 hours</span>
            </div>
        </div>

          <!-- Course Card 12 -->
          <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Hand Reach</a></h2>
            <p>Perfect the ability to extend robotic reach with the Hand Reach Robot.</p>
            <div class="card-footer">
                <span class="level">Intermediate</span>
                <span class="duration">2 hours</span>
            </div>
        </div>

         <!-- Course Card 13 -->
         <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Hand Manipulate Block</a></h2>
            <p>Unlock the potential of robotics by learning to manipulate objects with the Hand Manipulate Block.</p>
            <div class="card-footer">
                <span class="level">Intermediate</span>
                <span class="duration">2 hours</span>
            </div>
        </div>

        <div class="module-card">
            <div class="card-header">
                <span class="course-type">Free course</span>
            </div>
            <h2><a href="#">Self-Driving Car w/ Deep Q-Learning</a></h2>
            <p>Learn about advanced AI as you explore Deep Q-Learning algorithms to create and train a self-driving car simulation.</p>
            <div class="card-footer">
                <span class="level">Advanced</span>
                <span class="duration">3 hours</span>
            </div>
        </div>
        

    </div>

      <!-- Chatbot Button -->
      <div class="chatbot-label-container">
        <div class="chatbot-label">Hi! I'm CORA, your personal assistant. Click me!</div>
        <div class="chatbot-button">
            <img src="{{ url_for('static', filename='img/blinking.gif') }}" alt="Chatbot Logo" class="chatbot-logo">
        </div>
    </div>

    <!-- Second Chatbot -->
    <div class="chatbot-container" id="chatbot2-container" style="display: none;">
        <div id="chatbox2" class="chatbox"></div>
        <div class="chat-input-container">
            <input type="text" id="userInput2" placeholder="Type a message">
            <button id="sendBtn2">Send</button>
        </div>
    </div>
    
</div>
{% endblock %}