{% extends "base.html" %}
{% block page_title %}
<title>Login Page - CORE</title>
{% endblock %}

{% block body %}

<section class="login-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 p-4 login-form-container mb-2 mb-md-5">
                <h1 class="mb-5 text-center">Log In</h1>
                {% include "alert/full.html" %}
                <form action="{{ url_for('RenderLogin') }}" method="post">
                    <!-- Email Field -->
                    <div class="mb-4">
                        <input type="text" class="form-control rounded-0" name="login_username" id="inputUsername" placeholder="Enter your username" required>
                    </div>
                    
                    <!-- Password Field -->
                    <div class="mb-4">
                        <input type="password" class="form-control rounded-0" name="login_password" id="inputPassword" placeholder="Enter your password" required>
                    </div>
                    
                    <div class="text-end mb-4">
                        <a href="{{ url_for('RenderLogin') }}" class="small">Forgot password?</a>
                    </div>

                    <!-- Sign In Button -->
                    <div class="text-center">
                        <button type="submit" class="aesthetic-button">Log In</button>
                    </div>
                </form>
                
                <div class="mt-4 text-center">
                    <div class="signup-link">
                        Need an account? <a href="{{ url_for('RenderSignup') }}">Sign up</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chatbot Button -->
        <div class="chatbot-label-container">
            <div class="chatbot-label">Hi! I'm CORA, your personal assistant. Click me!</div>
            <div class="chatbot-button">
                <img src="{{ url_for('static', filename='img/blinking.gif') }}" alt="Chatbot Logo" class="chatbot-logo">
            </div>
        </div>

        <!-- Second Chatbot -->
        <div class="chatbot-container" id="chatbot2-container" style="display: none;">
            <div id="chatbox2" class="chatbox"></div>
            <div class="chat-input-container">
                <input type="text" id="userInput2" placeholder="Type a message">
                <button id="sendBtn2">Send</button>
            </div>
        </div>
       
    </div>
</section>

{% endblock body %}