{% extends "base.html" %}
{% block page_title %}
<title>Reset Password Page - CORE</title>
{% endblock %}

{% block body %}
<section class="login-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 p-4 login-form-container mb-2 mb-md-5">
                <h1 class="mb-5 text-center">Reset Password</h1>
                {% include "alert/full.html" %}
                
                <form action="{{ url_for('RenderResetPassword', email=email) }}" method="post">
                    <!-- New Password Field -->
                    <div class="mb-4">
                        <input type="password" class="form-control rounded-0" 
                               name="password" id="inputPassword" 
                               placeholder="Enter new password" required>
                    </div>
                    
                    <!-- Confirm Password Field -->
                    <div class="mb-4">
                        <input type="password" class="form-control rounded-0" 
                               name="confirm_password" id="inputConfirmPassword" 
                               placeholder="Confirm new password" required>
                    </div>
    
                    <!-- Submit Button -->
                    <div class="text-center">
                        <button type="submit" class="contact-page-btn">
                            Reset Password
                        </button>
                    </div>
                </form>
                
                <div class="mt-4 text-center">
                    <div class="signup-link">
                        Remember your password? <a href="{{ url_for('RenderLogin') }}">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <!-- Chatbot Button -->
        <div class="chatbot-button">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Chatbot Logo" class="chatbot-logo">
        </div>
    </div>
</section>
{% endblock body %}