click==8.1.7
collision==1.2.2
gym==0.15.3
kociemba==1.2.1
mujoco-py==2.1.2.14
pycuber==0.2.2
numpy==1.23.5
matplotlib==3.4.3
transforms3d==0.3.1
cython==0.29.24
jsonnet==0.20.0
pytest==8.3.3
scikit-learn==0.23.2
trimesh==4.4.9
mock==5.1.0
attr==0.3.2
attrs==24.2.0
