<header>
    <nav class="navbar navbar-ware navbar-expand-lg 
        {% if is_dashboard %}
        dashboard 
        {% elif is_homepage %}
        homepage
        {% elif is_course_page %}
        coursepage
        {% endif %} 
        navbar-light bg-light fixed-top">
        <div class="container px-0">
            <a class="navbar-brand" href="{{ url_for('RenderHomepage') }}">
                <div class="logo-container">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="CORE Logo" class="logo-img">
                    <div class="text-container">
                        <span class="navbar-logo">core</span>
                        <span class="navbar-tagline">Center for Optimizing Robotics Education</span>
                    </div>
                </div>
            </a>                     
            <button class="hamburger hamburger--elastic d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <div class="navbar-nav ms-auto navbar-help ms-lg-auto me-lg-0 mt-3 mt-lg-0">
                {% if is_homepage %}
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('RenderHomepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('RenderAboutUs') }}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('RenderLogin') }}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('RenderSignup') }}">Sign Up</a>
                    </li>
                    <li>
                        <a class="nav-link text-uppercase" href="{{ url_for('RenderContactUs') }}">Contact Us</a>
                    </li>
                    {% elif is_student_dashboard %}
                    <li class="nav-item custom-nav-item">
                        <button class="join-class-modal join-class-button">Join a Class</button>
                    </li>
                    <li class="nav-item-icon">
                        <svg class="navbar-bell-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#bell-icon" fill="currentColor"></use></svg>
                    </li>
                    <li class="nav-item-icon">
                        <svg class="navbar-envelope-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#envelope-icon" fill="currentColor"></use></svg>
                    </li>
                    <li class="nav-item-icon">
                        <svg class="navbar-user-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#three-dots-icon" fill="currentColor"></use></svg>
                    </li>
                    <div id="joinClassModal" class="modal instructor_dashboard">
                        <div class="modal-content instructor_dashboard">
                            <span class="close-modal">&times;</span>
                            <div class="modal-header instructor_dashboard">
                                <h2>Join a Class</h2>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{{ url_for('RenderStudentDashboard') }}">
                                    <div class="form-field-group">
                                        <label for="classCourseKey">Course Key:</label>
                                        <input type="text" id="classCourseCode" name="classCourseCode" placeholder="Enter course key" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="create-class-button">Join Class</button>
                                        <button type="button" class="cancel-button">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% elif is_instructor_dashboard %}
                    <li class="nav-item-icon">
                        <svg class="navbar-bell-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#bell-icon" fill="currentColor"></use></svg>
                    </li>
                    <li class="nav-item-icon">
                        <svg class="navbar-envelope-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#envelope-icon" fill="currentColor"></use></svg>
                    </li>
                    <li class="nav-item-icon">
                        <svg class="navbar-user-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#three-dots-icon" fill="currentColor"></use></svg>
                    </li>
                {% elif is_course_page %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('RenderCourses') }}">My Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('RenderHomepage') }}">Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('RenderPlayground') }}">Playground</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('RenderLogout') }}">Logout</a>
                    </li>
                {% elif is_admin_dashboard%}
                    <li class="nav-item-icon">
                        <svg class="navbar-bell-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#bell-icon" fill="currentColor"></use></svg>
                    </li>
                    <li class="nav-item-icon">
                        <svg class="navbar-envelope-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#envelope-icon" fill="currentColor"></use></svg>
                    </li>
                    <li class="nav-item-icon">
                        <svg class="navbar-user-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#three-dots-icon" fill="currentColor"></use></svg>
                    </li>
                {% endif %}
            </div>
        </div>
    </nav>
</header>