{% extends "base.html" %}

{% block title %}
<title>Basic Coding Practices Objectives - CORE</title>
{% endblock %}

{% block body %}
<div class="course-container">
    <!-- Sidebar for module navigation -->
    <div class="course-sidebar">
        <div class="course-sidebar-header">
            <i class="fas fa-list"></i>
            <span>Contents</span>
        </div>
        <ul class="course-list">
            <li class="course-item active"> 
                <a href="{{ url_for ('module_four') }}" class="course-link">Objectives</a>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_four_naming_conventions') }}" class="course-link">Naming Conventions</a>
                <ul class="sub-list">
                    <li><a href="#why-it-matters">Why They Matter</a></li>
                    <li><a href="#best-practices">Best Practices</a></li>
                    <li><a href="#common-naming-mistakes">Common Naming Mistakes</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_four_comments') }}" class="course-link">Commenting</a>
                <ul class="sub-list">
                    <li><a href="#why-comments-matter">Why It Matters</a></li>
                    <li><a href="#focus-on-the-why">Write Meaningful Comments</a></li>
                    <li><a href="#clear">Being Clear & Concise</a></li>
                    <li><a href="#single-line">Single Line Commenting</a></li>
                    <li><a href="#block-commenting">Block Commenting</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_four_indentation') }}" class="course-link">Indentation</a>
                <ul class="sub-list">
                    <li><a href="#why-indenting-matters">Indent Properly</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_four_variables') }}" class="course-link">Variables</a>
                <ul class="sub-list">
                    <li><a href="#what-are-variables">What are Variables</a></li>
                    <li><a href="#naming-variables">How to Name Variables</a></li>
                    <li><a href="#initializing-variables">Initializing Variables</a></li>
                    <li><a href="#variable-types">Variable Types</a></li>
                    <li><a href="#using-constants">The Use of Constants</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_four_control_flow') }}" class="course-link">Control Flow</a>
                <ul class="sub-list">
                    <li><a href="#conditional-statements">Conditional Statements</a></li>
                    <li><a href="#loops">Loops</a></li>
                    <li><a href="#break-and-continue">Break and Continue</a></li>
                    <li><a href="#nested-control-flow">Nested Control Flow</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_four_loops') }}" class="course-link">Loops</a>
                <ul class="sub-list">
                    <li><a href="#for-loops">For Loops</a></li>
                    <li><a href="#while-loops">While Loops</a></li>
                    <li><a href="#do-while-loops">Do-While Loops</a></li>
                    <li><a href="#best-practices">Best Practices</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_four_functions') }}" class="course-link">Functions</a>
                <ul class="sub-list">
                    <li><a href="#what-are-they">What are Functions</a></li>
                    <li><a href="#function-syntax">Function Syntax</a></li>
                    <li><a href="#function-parameters">Function Parameters</a></li>
                    <li><a href="#return-values">Return Values</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_four_debugging') }}" class="course-link">Debugging Techniques</a>
                <ul class="sub-list">
                    <li><a href="#print-statements">Print Statements</a></li>
                    <li><a href="#debugger-tools">Debugging Tools</a></li>
                    <li><a href="#rubber-duck-debugging">Rubber Duck Debugging</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_four_download') }}" class="course-link">Cheat Sheet</a>
            </li>
        </ul>
    </div> <!-- End of course-sidebar -->
    
    <!-- Main Content for the module -->
    <div class="course-main-content">
        <!-- Title and Objectives Section -->
        <div class="container objectives-section">
            <h1 class="module-h1-title">Basic Coding Practices</h1>
            <h2 class="module1-section-title">What You Will Learn</h2>
            <!--<div class="next-button text-center mt-4">
                <a href="{{ url_for('overview') }}" class="secondary-button"> Start: Definition and Overview</a>
            </div>-->
            <p class="module1-section-subtitle">Here are the key skills and knowledge you'll gain from this module</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/41.png" alt="Naming Conventions">
                        </div>
                        <h4>Naming Conventions</h4>
                        <p>Master best practices for naming variables.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/42.png" alt="Commenting">
                        </div>
                        <h4>Commenting</h4>
                        <p>Write meaningful comments to improve readability.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/43.png" alt="Indentation">
                        </div>
                        <h4>Indentation</h4>
                        <p>Organize code neatly for better structure.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/44.png" alt="Variables">
                        </div>
                        <h4>Variables</h4>
                        <p>Use variables for proper data storage.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/45.png" alt="Control Flow">
                        </div>
                        <h4>Control Flow</h4>
                        <p>Understand the flow of logic in code.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/46.png" alt="Loops">
                        </div>
                        <h4>Loops</h4>
                        <p>Repeat code with for and while loops.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/47.png" alt="Functions">
                        </div>
                        <h4>Functions</h4>
                        <p>Create modular and reusable code blocks with functions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/48.png" alt="Debugging Techniques">
                        </div>
                        <h4>Debugging Techniques</h4>
                        <p>Look how to find and fix errors.</p>
                    </div>
                </div>
            </div> <!-- End of row -->
        </div> <!-- End of objectives-section -->
        <div class="next-button text-right mt-4">
            <a href="{{ url_for('module_four_naming_conventions') }}" class="secondary-button"> Next: Naming Conventions</a>
        </div>
    </div> <!-- End of course-main-content -->
</div> <!-- End of course-container -->
{% endblock %}
