{% extends "base.html" %}

{% block title %}
<title>Home - CORE</title>
{% endblock %}

{% block body %}

{% include "alert/full.html" %}
<body>
    <div class="sidebar-wrapper">
        <div class="sidebar-header">
            <img src="/static/img/profile_pic.png" alt="Profile Picture" class="profile-image">
            <span class="sidebar-name">{{ user['username'] }}</span>
            <button class="collapse-btn" onclick="toggleSidebar()">
                <svg class="sidebar-arrow-icon"><use xlink:href="/static/img/sidebar-icons.svg#arrow-icon" fill="currentColor"></use></svg>
            </button>
        </div>
        <a href="{{ url_for('RenderStudentDashboard') }}" class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-home-icon"><use xlink:href="/static/img/sidebar-icons.svg#home-icon" fill="currentColor"></use></svg>
                    <span class="home-text">HOME</span>
                </li>   
            </ul>
        </a>
        <!--
        <a href="{{ url_for('RenderCourses') }}" class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-course-icon"><use xlink:href="/static/img/sidebar-icons.svg#course-icon" fill="currentColor"></use></svg>
                    <span class="home-text">COURSES</span>
                </li>   
            </ul>
        </a>
        -->
        <a href="{{ url_for('RenderStudentRoadmap') }}" class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-course-icon"><use xlink:href="/static/img/sidebar-icons.svg#course-icon" fill="currentColor"></use></svg>
                    <span class="home-text">COURSES</span>
                </li>   
            </ul>
        </a>
        <a href="{{ url_for('RenderPlayground') }}" class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-playground-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#playground-icon" fill="currentColor"></use></svg>
                    <span class="home-text">PLAYGROUND</span>
                </li>   
            </ul>
        </a>
        <a href="{{ url_for('RenderStudentDashboardGrades') }} " class="sidebar-item active">
            <ul>
                <li>
                    <svg class="sidebar-gradebook-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#gradebook-icon" fill="none"></use></svg>
                    <span class="home-text">GRADEBOOK</span>
                </li>   
            </ul>
        </a>
        <a href="{{ url_for('RenderLogout') }}" class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-logout-icon"><use xlink:href="/static/img/sidebar-icons.svg#logout-icon" fill="currentColor"></use></svg>
                    <span class="home-text">LOG OUT</span>
                </li>   
            </ul>
        </a>
    </div>
    <div class="dashboard-container grades">
        <div class="dashboard-column one grades">
            <div class="dashboard-row one grades">
                <div class="section-one grades">
                    <div class="dashboard-card one grades">
                        <div class="dashboard-card-content">
                            <div class="dashboard-card-text">
                                <h3>
                                    <svg class="instructor-dash-grades-icon"><use xlink:href="/static/img/sidebar-icons.svg#course-icon" fill="currentColor"></svg>
                                    Courses Completed
                                </h3>
                                <p class="dashboard-user-count"> {{ dashboard_data.completed_courses }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-two grades">
                    <div class="dashboard-card two grades">
                        <div class="dashboard-card-text">
                            <h3>
                                <svg class="instructor-dash-grades-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#hint-icon" fill="currentColor" color = #ffffff></use></svg>
                                Hints Generated
                            </h3>
                            <p class="dashboard-user-count">{{ dashboard_data.hints }}</p>
                        </div>
                    </div>
                </div>
                <div class="section-three grades">
                    <div class="dashboard-card three grades">
                        <div class="dashboard-card-text">
                            <h3>
                                <svg class="instructor-dash-grades-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#points-icon" fill="currentColor"></use></svg>
                                Total Points Owned
                            </h3>
                            <p class="dashboard-user-count"> {{ dashboard_data.points }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-row two grades">
                <div class="section-four grades">
                    <div class="dashboard-card four grades">
                        <h3> Average Attempts per Robotic Environment</h3>
                        <div class="graph-container grades">
                            <img src="data:image/png;base64,{{ dashboard_data.attempts_graph }}" alt="Average Attempts Graph" class="responsive-graph grades">
                        </div>
                    </div>
                </div>
                <div class="section-five grades">
                    <div class="dashboard-card five grades">
                        <h3> Average Duration per Robotic Environment</h3>
                        <div class="graph-container grades">
                            <img src="data:image/png;base64,{{ dashboard_data.duration_graph }}" alt="Average Attempts Graph" class="responsive-graph grades">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-column two grades">
            <div class="section-eight grades">
                <div class="dashboard-card eight grades">
                    <h2 class="grades-title">Grades</h2>
                    <table class="grades-table">
                        {% if grades_with_names %}
                            {% for grade in grades_with_names %}
                            <tr>
                                <td>
                                    <div class="quiz-name">{{ grade.course_subsection_name }}</div>
                                    <div class="course-module-name">{{ grade.course_module_name }}</div>
                                </td>
                                <td>
                                    <span class="grade-bubble 
                                        {% if grade.highest_grade >= 80 %}green
                                        {% elif grade.highest_grade >= 51 %}yellow
                                        {% else %}red
                                        {% endif %}">
                                        {{ grade.highest_grade }}%
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Total Grade:</td>
                                <td>
                                    {% set total_grade = ((grades_with_names | sum(attribute='highest_grade')) / (grades_with_names | length)) %}
                                    <span class="grade-bubble 
                                        {% if total_grade >= 80 %}green
                                        {% elif total_grade >= 51 %}yellow
                                        {% else %}red
                                        {% endif %}">
                                        {{ total_grade | round(2) }}%
                                    </span>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <div class="quiz-name">No available grades</div>
                                    <div class="course-module-name">No available grades</div>
                                </td>
                                <td>
                                    <span class="grade-bubble">N/A</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Total Grade:</td>
                                <td>
                                    <span class="grade-bubble">N/A</span>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}