{% extends "base.html" %}

{% block title %}
<title>Instructor - Classes</title>
{% endblock %}

{% block body %}
{% include "alert/full.html" %}
    <div class="sidebar-wrapper">
        <div class="sidebar-header">
            <img src="/static/img/profile_pic.png" alt="Profile Picture" class="profile-image">
            <span class="sidebar-name">{{ user['username'] }}</span>
            <button class="collapse-btn" onclick="toggleSidebar()">
                <svg class="sidebar-arrow-icon"><use xlink:href="/static/img/sidebar-icons.svg#arrow-icon" fill="currentColor"></use></svg>
            </button>
        </div>
        <a href="{{ url_for('RenderInstructorDashboard') }}" class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-home-icon"><use xlink:href="/static/img/sidebar-icons.svg#home-icon" fill="currentColor"></use></svg>
                    <span class="home-text">HOME</span>
                </li>   
            </ul>
        </a>
        <a href="{{ url_for('RenderCourses') }}" class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-course-icon"><use xlink:href="/static/img/sidebar-icons.svg#course-icon" fill="currentColor"></use></svg>
                    <span class="home-text">COURSES</span>
                </li>   
            </ul>
        </a>
        <a href="{{ url_for('RenderInstructorClasses') }}" class="sidebar-item active">
            <ul>
                <li>
                    <svg class="sidebar-class-icon"><use xlink:href="/static/img/sidebar-icons.svg#class-icon" fill="currentColor"></use></svg>
                    <span class="home-text">CLASSES</span>
                </li>   
            </ul>
        </a>
        <a href="{{ url_for('RenderInstructorGradebook') }} " class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-gradebook-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#gradebook-icon" fill="none"></use></svg>
                    <span class="home-text">GRADEBOOK</span>
                </li>   
            </ul>
        </a>
        <a href="{{ url_for('RenderPlayground') }}" class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-playground-icon"><use xlink:href="/static/img/svgs/sidebar-icons-two.svg#playground-icon" fill="currentColor"></use></svg>
                    <span class="home-text">PLAYGROUND</span>
                </li>   
            </ul>
        </a>
        <a href="{{ url_for('RenderLogout') }}" class="sidebar-item">
            <ul>
                <li>
                    <svg class="sidebar-logout-icon"><use xlink:href="/static/img/sidebar-icons.svg#logout-icon" fill="currentColor"></use></svg>
                    <span class="home-text">LOG OUT</span>
                </li>   
            </ul>
        </a>
    </div>

    <!-- New Dashboard UI -->
    <div class="dashboard-container">
        <div class = "dashboard-content user-list">
            <div class = "user-list-section-one">
                <!-- Header Reused From dashboard_classes-->
                <div class="dashboard-classes-header">
                    <h1>Classes</h1>
                    <div class="button-container-classes">
                        <button class="create-class-code-modal create-user-button">Generate Class Code</button>
                        <button class="create-class-modal create-user-button">Create a New Class</button>
                        <button class="assign-course-modal create-user-button">Assign Courses to Students</button>
                    </div>
                </div>
                <!-- Grey Line -->
                <hr class="grey-line">
                <!-- Header Reused From dashboard_classes-->
                <div class="user-list-container">
                    <div class="user-list">
                        <table class="user-list-table">
                            <thead>
                                <tr>
                                    <th>Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if classes %}
                                    {% for cls in classes %}
                                    <tr>
                                        <td class="class-info">
                                            <span class="class-section">Section: {{ cls.class_course_code }}.{{ cls.class_section_number }}</span>
                                            <form action="{{ url_for('RenderClassDetails') }}" method="POST" style="display:inline;">
                                                <input type="hidden" name="class_id" value="{{ cls.class_id }}">
                                                <button type="submit" class="btn btn-link p-0 m-0 align-baseline">View</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>
                                            <span class="class-section">No Classes Available - Create One to Start</span>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>









<!--
    <div class="dashboard-container">
        <div class="dashboard-classes-header">
            <h1>Classes</h1>
            <a href="#" class="create-class-code-modal">
                Generate a Class Code
            </a>
            <a href="#" class="create-class-modal">
                Create a New Class
            </a>
        </div>
        <div class="dashboard-classes-table">
            <table class="table table-striped table-bordered">
                <tbody>
                    {% if classes %}
                        {% for cls in classes %}
                        <tr>
                            <td class="class-info">
                                <span class="class-section">Section: {{ cls.class_course_code }}.{{ cls.class_section_number }}</span>
                                <form action="{{ url_for('RenderClassDetails') }}" method="POST" style="display:inline;">
                                    <input type="hidden" name="class_id" value="{{ cls.class_id }}">
                                    <button type="submit" class="btn btn-link p-0 m-0 align-baseline">View</button>
                                </form>
                                <a href="#" class="assign-course-modal">
                                    Assign
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <span class="class-section">No Classes Available - Create One to Start</span>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>-->
    <!-- Create Class Modal -->
    <div id="createClassModal" class="modal instructor_dashboard">
        <div class="modal-content instructor_dashboard">
            <span class="close-modal">&times;</span>
            <div class="modal-header instructor_dashboard">
                <h2>Create a New Class</h2>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('RenderInstructorClasses') }}">
                    <div class="form-field-group">
                        <label for="classCourseCode">Course Code:</label>
                        <input type="text" id="classCourseCode" name="classCourseCode" placeholder="e.g., CS101" required>
                    </div>
    
                    <div class="form-field-group">
                        <label for="classSection">Section Number:</label>
                        <input type="text" id="classSection" name="classSection" placeholder="e.g., 001" required>
                    </div>
    
                    <div class="form-field-group">
                        <label for="classDate">Expiration Date:</label>
                        <input type="date" id="classDate" name="classDate" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="create-class-button">Create Class</button>
                        <button type="button" class="cancel-button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Create Class Code Modal -->
    <div id="createClassCodeModal" class="modal instructor_dashboard">
        <div class="modal-content instructor_dashboard">
            <span class="close-modal">&times;</span>
            <div class="modal-header instructor_dashboard">
                <h2>Create Class Code</h2>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('GenerateClassCode') }}">
                    <div class="form-field-group">
                        <label for="class-select-create">Select Class:</label>
                        <select id="class-select-create" name="class_id" required>
                            <option value="">Choose a class</option>
                            {% for cls in classes %}
                                <option value="{{ cls.class_id }}">{{ cls.class_course_code }} - {{ cls.class_section_number }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="create-class-button">Generate Code</button>
                        <button type="button" class="cancel-button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Assign Course Modal -->
    <div id="assignCourseModal" class="modal instructor_dashboard">
        <div class="modal-content instructor_dashboard">
            <span class="close-modal">&times;</span>
            <div class="modal-header instructor_dashboard">
                <h2>Assign Course</h2>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('AssignStudentToCourse') }}">
                    <div class="form-field-group">
                        <label for="class-select-assign">Class:</label>
                        <select id="class-select-assign" name="class_id" required>
                            <option value="">Choose a class</option>
                            {% for cls in classes %}
                                <option value="{{ cls.class_id }}">{{ cls.class_course_code }} - {{ cls.class_section_number }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="assign-url" value="{{ url_for('GetStudentsFromClass') }}">
                    </div>

                    <div class="student-list">
                        <table class="student-list-table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAllStudents" onclick="toggleSelectAll('student')"></th>
                                    <th>Student Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td colspan="3">Please select a class.</td></tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="course-list">
                        <table class="course-list-table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAllCourses" onclick="toggleSelectAll('courses')"></th>
                                    <th>Course Name</th>
                                    <th>Section Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if courses %}
                                    {% for course in courses %}
                                        <tr>
                                            <td><input type="checkbox" name="courses_ids" value="{{ course.course_id }}" class="courses-checkbox"></td>
                                            <td>{{ course.course_name }}</td>
                                            <td>{{ course.section_number}}</td> 
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3">
                                            <span class="class-section">No Courses Available - Create One to Start</span>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="create-class-button">Assign Course</button>
                        <button type="button" class="cancel-button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if class_code %}
    <!-- Class Code Display Modal -->
    <div id="classCodeModal" class="modal instructor_dashboard">
        <div class="modal-content class_code">
            <span class="close-modal">&times;</span>
            <div class="modal-header instructor_dashboard">
                <h2>Class Code</h2>
            </div>
            <div class="modal-body">
                <div class="form-field-group">
                    <p>Your class code for class <strong>{{ class_id }}</strong> is:</p>
                    <div class="code-display">
                        <strong>{{ class_code }}</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="copy-code-button">Copy Code</button>
                    <button type="button" class="cancel-button">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

