{% extends "base.html" %}

{% block title %}
<title>Robot Anatomy - CORE</title>
{% endblock %}

{% block body %}
<div class="course-container">
    <!-- Sidebar for module navigation -->
    <div class="course-sidebar">
        <div class="course-sidebar-header">
            <i class="fas fa-list"></i>
            <span>Contents</span>
        </div>
        <ul class="course-list">
            <li class="course-item"> 
                {% if module_completed[1.11] %}
                <a href="{{ url_for('course1_card') }}" class="course-link">
                    Objectives
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Objectives</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.12] %}
                    <a href="{{ url_for('overview') }}" class="course-link">
                        Definition and Overview of Robotics
                        <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                    </a>
                {% elif module_completed[1.11] %}
                    <a href="{{ url_for('overview') }}" class="course-link">
                        Definition and Overview of Robotics
                    </a>
                {% else %}
                    <a class="course-link disabled">Definition and Overview of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#what-is-robot">What is a robot?</a></li>
                    <li><a href="#intro-field-robotics">Robotics as a Field of Study</a></li>
                    <li><a href="#goals-applications">Goals and Applications</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.13] %}
                <a href="{{ url_for('history') }}" class="course-link">
                    History of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.12] %}
                <a href="{{ url_for('history') }}" class="course-link">
                    History of Robotics
                </a>
                {% else %}
                <a class="course-link disabled">History of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial Robots</a></li>
                    <li><a href="#humanoid">Humanoid Robots</a></li>
                    <li><a href="#mobile">Mobile Robots</a></li>
                    <li><a href="#collaborative-robots">Collaborative Robots</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.14]%}
                <a href="{{ url_for('typesofrobots') }}" class="course-link">
                    Types of Robots
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.13] %}
                <a href="{{ url_for('typesofrobots') }}" class="course-link">
                    Types of Robots
                </a>
                {% else %}
                <a class="course-link disabled">Types of Robots</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial robots</a></li>
                    <li><a href="#humanoid">Humanoid robots</a></li>
                    <li><a href="#mobile">Mobile robots</a></li>
                    <li><a href="#collaborative-tools">Collaborative tools</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.15] %}
                <a href="{{ url_for('importanceandapp') }}" class="course-link">
                    Importance and Applications of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.14] %}
                <a href="{{ url_for('importanceandapp') }}" class="course-link">
                    Importance and Applications of Robotics
                </a>
                {% else %}
                <a class="course-link disabled">Importance and Applications of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#manufacturing">Manufacturing</a></li>
                    <li><a href="#healthcare">Healthcare</a></li>
                    <li><a href="#exploration">Exploration</a></li>
                    <li><a href="#agriculture">Agriculture</a></li>
                    <li><a href="#entertainment">Entertainment</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.9]%}
                <a href="{{ url_for('course1quiz1') }}" class="course-link">
                    Quiz 1
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.15] %}
                <a href="{{ url_for('course1quiz1') }}" class="course-link">
                    Quiz 1
                </a>
                {% else %}
                <a class="course-link disabled">Quiz 1</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.16] %}
                <a href="{{ url_for('robotanatomy') }}" class="course-link">
                    Robot Anatomy
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.9] %}
                <a href="{{ url_for('robotanatomy') }}" class="course-link">
                    Robot Anatomy
                </a>
                {% else %}
                <a class="course-link disabled">Robot Anatomy</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#actuators">Actuators</a></li>
                    <li><a href="#sensors">Sensors</a></li>
                    <li><a href="#controllers">Controllers</a></li>
                    <li><a href="#effectors">End Effectors</a></li>
                </ul>
            </li>
            <li class="course-item active">
                {% if module_completed[1.17] %}
                <a href="{{ url_for('challenges') }}" class="course-link">
                    Challenges in Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.16] %}
                <a href="{{ url_for('challenges') }}" class="course-link">
                    Challenges in Robotics
                </a>
                {% else %}
                <a class="course-link disabled">Challenges in Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#navandmapping">Navigation and Mapping</a></li>
                    <li><a href="#humanrobot">Human-Robot Interaction</a></li>
                    <li><a href="#perception">Perception and Recognition</a></li>
                    <li><a href="#ethics">Ethical Considerations</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.18] %}
                <a href="{{ url_for('robotprogramming') }}" class="course-link">
                    Robot Programming
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.17] %}
                <a href="{{ url_for('robotprogramming') }}" class="course-link">
                    Robot Programming
                </a>
                {% else %}
                <a class="course-link disabled">Robot Programming</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#lowlevel">Low-Level Programming</a></li>
                    <li><a href="#highlevel">High-Level Programming</a></li>
                    <li><a href="#programming-interface">Programming Interfaces</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.19] %}
                <a href="{{ url_for('implications') }}" class="course-link">
                    Social and Ethical Implications
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.18] %}
                <a href="{{ url_for('implications') }}" class="course-link">
                    Social and Ethical Implications
                </a>
                {% else %}
                <a class="course-link disabled">Social and Ethical Implications</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#privacy">Privacy</a></li>
                    <li><a href="#job-displacement">Job Displacement</a></li>
                    <li><a href="#human-robot-interaction">Human-Robot Interaction</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.21] %}
                <a href="{{ url_for('futuretrends') }}" class="course-link">
                    Future Trends
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.19] %}
                <a href="{{ url_for('futuretrends') }}" class="course-link">
                    Future Trends
                </a>
                {% else %}
                <a class="course-link disabled">Future Trends</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#AI">Artificial Intelligence (AI) in Robotics</a></li>
                    <li><a href="#soft-robotics">Soft Robotics</a></li>
                    <li><a href="#swarm-robotics">Swarm Robotics</a></li>
                    <li><a href="#hri">Human-Robot Interaction (HRI)</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('course1quiz1_2') }}" class="course-link">Quiz 2</a>
            </li>
        </ul>
    </div> <!-- End of course-sidebar -->

    <div class="course-main-content">
        <div class="robotics-content">
            <!-- Page Header -->
            <header class="page-header">
                <div class="toggle-container">
                    <label class="toggle-switch bounce-on-load">
                        <div class="notification-bubble" id="notification">Toggle me to explain text</div>
                        <input type="checkbox" id="toggle-explainer">
                        <span class="slider">
                            <i class="fas fa-highlighter"></i>
                        </span>
                    </label>
                </div>
                <h1 class="page-title">Challenges in Robotics</h1>
                <p class="page-description">While robotics has made significant advancements, there are several challenges that researchers and developers face in harnessing the full potential of this technology. </p>
            </header>

            <div class="divider">
                <span class="divider-text">Let's Dive In</span>
            </div>

            <!-- Section 1: Navigation and Mapping  -->
            <div class="module-section" id="navandmapping">
                <h3>Navigation and Mapping</h3>
                <p>Navigation and mapping are essential for robots to understand and maneuver within their environments. Robots need to accurately perceive and interpret their surroundings, plan optimal paths, and navigate safely. This challenge becomes more pronounced in dynamic and unstructured environments. For example, autonomous vehicles must navigate complex road networks, avoiding obstacles and adhering to traffic rules, while drones require precise navigation to deliver packages in urban settings.</p>
                <!-- Examples - Navigation and Mapping -->
                <div class="subsection">
                    <h4>Examples</h4>
                    <ul>
                        <li>Autonomous cars navigating busy intersections and complex traffic scenarios.</li>
                        <li>Robots mapping and exploring unknown or hazardous environments, such as disaster zones or space missions.</li>
                    </ul>
                </div>
            </div> <!-- End of module-section -->

            <!-- Section 2: Human-Robot Interaction-->
            <div class="module-section" id="humanrobot">
                <h3>Human-Robot Interaction</h3>
                <p>Enabling natural and effective interaction between humans and robots is a significant challenge. Robots should be capable of understanding and responding to human commands, gestures, and emotions. Human-robot collaboration also involves ensuring the safety and trustworthiness of robots working alongside humans. Designing intuitive interfaces and communication mechanisms that bridge the gap between human and machine is crucial for successful human-robot interaction.</p>
                <!-- Examples - Human-Robot Interaction-->
                <div class="subsection">
                    <h4>Examples</h4>
                    <ul>
                        <li>Social robots engaging in conversations and understanding human emotions for companionship or healthcare assistance.</li>
                        <li>Collaborative robots working alongside humans in manufacturing, requiring seamless coordination and communication.</li>
                    </ul>
                </div>
            </div> <!-- End of module-section -->

            <!-- Section 3: Exploration -->
            <div class="module-section" id="perception">
                <h3>Perception and Recognition</h3>
                <p>Robots need robust perception capabilities to understand and interpret their environment. This involves recognizing and identifying objects, people, and obstacles, as well as understanding spatial relationships and context. Perception challenges include dealing with varying lighting conditions, occlusions, and the ability to generalize from limited data. Accurate perception and recognition are crucial for tasks such as object manipulation, scene understanding, and autonomous decision-making.</p>
                <!-- Examples - Perception and Recognition -->
                <div class="subsection">
                    <h4>Examples</h4>
                    <ul>
                        <li>Industrial robots identifying and manipulating objects on a conveyor belt in a manufacturing assembly line.</li>
                        <li>Service robots navigate a cluttered home environment while recognizing furniture, doors, and other obstacles.</li>
                    </ul>
                </div>
            </div> <!-- End of module-section -->

            <!-- Section 4: Perception and Recognition -->
            <div class="module-section" id="ethics">
                <h3>Ethical Considerations</h3>
                <p>As robots become more integrated into society, ethical considerations arise. These include issues related to privacy, security, job displacement, and the impact on social dynamics. Questions around the ethical use of autonomous weapons, biases in AI algorithms, and the accountability of robots in the event of accidents or harm need careful attention. Ensuring that robots are designed and deployed in an ethical and responsible manner is essential for building public trust and mitigating potential risks.</p>
                <!-- Examples - Perception and Recognition -->
                <div class="subsection">
                    <h4>Examples</h4>
                    <ul>
                        <li>Drones and surveillance robots raising concerns about privacy invasion.</li>
                        <li>Autonomous systems used in military applications, raising questions about the ethics of decision-making and potential unintended consequences.</li>
                </div>
            </div> <!-- End of module-section -->

            <!-- Next Button -->
            <div class="navigation-buttons mt-4">
                <a href="{{ url_for('robotanatomy') }}" class="secondary-button">Back: Robot Anatomy </a> 
                <a href="{{ url_for('robotprogramming') }}" class="secondary-button">Next: Robot Programming</a>
            </div>
        </div>
    </div> <!-- End of course-main-content -->
</div> <!-- End of course-container -->
{% endblock %}

