{% extends "base.html" %}

{% block title %}
<title>Future Trends - CORE</title>
{% endblock %}

{% block body %}
<div class="course-container">
    <!-- Sidebar for module navigation -->
    <div class="course-sidebar">
        <div class="course-sidebar-header">
            <i class="fas fa-list"></i>
            <span>Contents</span>
        </div>
        <ul class="course-list">
            <li class="course-item"> 
                {% if module_completed[1.11] %}
                <a href="{{ url_for('module_intro') }}" class="course-link">
                    Objectives
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Objectives</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.12] %}
                    <a href="{{ url_for('overview') }}" class="course-link">
                        Definition and Overview of Robotics
                        <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                    </a>
                {% elif module_completed[1.11] %}
                    <a href="{{ url_for('overview') }}" class="course-link">
                        Definition and Overview of Robotics
                    </a>
                {% else %}
                    <a class="course-link disabled">Definition and Overview of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#what-is-robot">What is a robot?</a></li>
                    <li><a href="#intro-field-robotics">Robotics as a Field of Study</a></li>
                    <li><a href="#goals-applications">Goals and Applications</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.13] %}
                <a href="{{ url_for('history') }}" class="course-link">
                    History of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.12] %}
                <a href="{{ url_for('history') }}" class="course-link">
                    History of Robotics
                </a>
                {% else %}
                <a class="course-link disabled">History of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial Robots</a></li>
                    <li><a href="#humanoid">Humanoid Robots</a></li>
                    <li><a href="#mobile">Mobile Robots</a></li>
                    <li><a href="#collaborative-robots">Collaborative Robots</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.14]%}
                <a href="{{ url_for('typesofrobots') }}" class="course-link">
                    Types of Robots
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.13] %}
                <a href="{{ url_for('typesofrobots') }}" class="course-link">
                    Types of Robots
                </a>
                {% else %}
                <a class="course-link disabled">Types of Robots</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial robots</a></li>
                    <li><a href="#humanoid">Humanoid robots</a></li>
                    <li><a href="#mobile">Mobile robots</a></li>
                    <li><a href="#collaborative-tools">Collaborative tools</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.15] %}
                <a href="{{ url_for('importanceandapp') }}" class="course-link">
                    Importance and Applications of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.14] %}
                <a href="{{ url_for('importanceandapp') }}" class="course-link">
                    Importance and Applications of Robotics
                </a>
                {% else %}
                <a class="course-link disabled">Importance and Applications of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#manufacturing">Manufacturing</a></li>
                    <li><a href="#healthcare">Healthcare</a></li>
                    <li><a href="#exploration">Exploration</a></li>
                    <li><a href="#agriculture">Agriculture</a></li>
                    <li><a href="#entertainment">Entertainment</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.9]%}
                <a href="{{ url_for('course1quiz1') }}" class="course-link">
                    Quiz 1
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.15] %}
                <a href="{{ url_for('course1quiz1') }}" class="course-link">
                    Quiz 1
                </a>
                {% else %}
                <a class="course-link disabled">Quiz 1</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.16] %}
                <a href="{{ url_for('robotanatomy') }}" class="course-link">
                    Robot Anatomy
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.9] %}
                <a href="{{ url_for('robotanatomy') }}" class="course-link">
                    Robot Anatomy
                </a>
                {% else %}
                <a class="course-link disabled">Robot Anatomy</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#actuators">Actuators</a></li>
                    <li><a href="#sensors">Sensors</a></li>
                    <li><a href="#controllers">Controllers</a></li>
                    <li><a href="#effectors">End Effectors</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.17] %}
                <a href="{{ url_for('challenges') }}" class="course-link">
                    Challenges in Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.16] %}
                <a href="{{ url_for('challenges') }}" class="course-link">
                    Challenges in Robotics
                </a>
                {% else %}
                <a class="course-link disabled">Challenges in Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#navandmapping">Navigation and Mapping</a></li>
                    <li><a href="#humanrobot">Human-Robot Interaction</a></li>
                    <li><a href="#perception">Perception and Recognition</a></li>
                    <li><a href="#ethics">Ethical Considerations</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.18] %}
                <a href="{{ url_for('robotprogramming') }}" class="course-link">
                    Robot Programming
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.17] %}
                <a href="{{ url_for('robotprogramming') }}" class="course-link">
                    Robot Programming
                </a>
                {% else %}
                <a class="course-link disabled">Robot Programming</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#lowlevel">Low-Level Programming</a></li>
                    <li><a href="#highlevel">High-Level Programming</a></li>
                    <li><a href="#programming-interface">Programming Interfaces</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.19] %}
                <a href="{{ url_for('implications') }}" class="course-link">
                    Social and Ethical Implications
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.18] %}
                <a href="{{ url_for('implications') }}" class="course-link">
                    Social and Ethical Implications
                </a>
                {% else %}
                <a class="course-link disabled">Social and Ethical Implications</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#privacy">Privacy</a></li>
                    <li><a href="#job-displacement">Job Displacement</a></li>
                    <li><a href="#human-robot-interaction">Human-Robot Interaction</a></li>
                </ul>
            </li>
            <li class="course-item active">
                {% if module_completed[1.21] %}
                <a href="{{ url_for('futuretrends') }}" class="course-link">
                    Future Trends
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.19] %}
                <a href="{{ url_for('futuretrends') }}" class="course-link">
                    Future Trends
                </a>
                {% else %}
                <a class="course-link disabled">Future Trends</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#AI">Artificial Intelligence (AI) in Robotics</a></li>
                    <li><a href="#soft-robotics">Soft Robotics</a></li>
                    <li><a href="#swarm-robotics">Swarm Robotics</a></li>
                    <li><a href="#hri">Human-Robot Interaction (HRI)</a></li>
                </ul>
            </li>
        </ul>
    </div> <!-- End of course-sidebar -->

    <div class="course-main-content">
        <!-- Page Header -->
        <header class="page-header">
            <h1 class="page-title">Future Trends</h1>
            <p class="page-description">As robotics continues to evolve, new trends and advancements are shaping the future of this field. Understanding these emerging trends is crucial for staying up-to-date and harnessing the potential of future robotic technologies.</p>
        </header>

        <div class="divider">
            <span class="divider-text">Let's Dive In</span>
        </div>

        <!-- Section 1: AI -->
        <div class="module-section" id="AI">
            <h3>Artificial Intelligence (AI) in Robotics</h3>
            <p>Artificial intelligence (AI) has become a driving force in robotics, enabling robots to exhibit intelligent behaviors and perform complex tasks. AI algorithms, such as machine learning and deep learning, empower robots to perceive, reason, and make decisions based on data. By leveraging AI, robots can adapt to changing environments, learn from experience, and interact with humans more effectively.</p>
            <!-- Examples - AI -->
            <div class="subsection">
                <h4>Artificial intelligence in robotics involves various techniques and applications:</h4>
                <ul>
                    <li><strong>Perception:&nbsp;</strong>AI algorithms enable robots to sense and interpret their surroundings through vision, speech recognition, and sensor data processing.</li>
                    <li><strong>Planning and Decision-making:&nbsp;</strong>Robots equipped with AI can analyze information, evaluate different courses of action, and make intelligent decisions to achieve specific goals.</li>
                    <li><strong>Learning and Adaptation:&nbsp;</strong>Machine learning algorithms enable robots to learn from data, improve their performance over time, and adapt to new situations.</li>
                    <li><strong>Natural Language Processing:&nbsp;</strong>AI facilitates human-robot interaction by enabling robots to understand and respond to human speech and commands.</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

         <!-- Section 2: Soft Robotics-->
         <div class="module-section" id="soft-robotics">
            <h3>Soft Robotics</h3>
            <p>Soft robotics is an emerging field that focuses on the development of robots made from compliant and flexible materials. Unlike traditional rigid robots, soft robots mimic the deformability and adaptability of living organisms, allowing them to interact with objects and environments more safely and effectively.</p>
            <!-- Examples - Soft Robotics -->
            <div class="subsection">
                <h4>Key features and applications of soft robotics include:</h4>
                <ul>
                    <li><strong>Compliance and Flexibility:&nbsp;</strong>Soft robots are constructed using flexible materials, such as elastomers and soft polymers, which enable them to deform and change shape.</li>
                    <li><strong>Safe Human Interaction:&nbsp;</strong>Soft robots are inherently safe for close human interaction, making them suitable for applications in healthcare, rehabilitation, and social assistance.</li>
                    <li><strong>Delicate Object Manipulation:&nbsp;</strong>The compliant nature of soft robots allows them to handle fragile and delicate objects with precision and gentleness.</li>
                    <li><strong>Morphological Adaptation:&nbsp;</strong>Soft robots can alter their shape and morphology to navigate complex and unpredictable environments, such as tight spaces or uneven terrains.</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

        <!-- Section 3: Swarm Robotics-->
        <div class="module-section" id="swarm-robotics">
            <h3>Swarm Robotics</h3>
            <p>Swarm robotics focuses on the coordination and cooperation of multiple robots, known as swarm robots, to accomplish complex tasks. Inspired by the collective behavior of social insects, swarm robotics emphasizes decentralized control and self-organization. By working together as a cohesive group, swarm robots can tackle challenges that would be difficult or impossible for individual robots.</p>
            <!-- Examples - Swarm Robotics -->
            <div class="subsection">
                <h4>Key characteristics and applications of swarm robotics include:</h4>
                <ul>
                    <li><strong>Decentralized Control:&nbsp;</strong>Swarm robots operate based on simple rules and local interactions, with no centralized control or global coordination.</li>
                    <li><strong>Emergent Behavior:&nbsp;</strong>Through local interactions, swarm robots exhibit emergent behavior, where the collective actions of the swarm result in intelligent and adaptive behaviors.</li>
                    <li><strong>Robustness and Redundancy:&nbsp;</strong>Swarm robotics offers robustness and fault tolerance, as the loss of individual robots does not significantly impact the overall performance of the swarm.</li>
                    <li><strong>Distributed Tasks:&nbsp;</strong>Swarm robots can be deployed in large numbers to perform tasks such as environmental monitoring, search and rescue, and distributed sensing.</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

        <!-- Section 4: HRI -->
        <div class="module-section" id="hri">
            <h3>Human-Robot Interaction (HRI) </h3>
            <p>Human-robot interaction (HRI) focuses on designing robots that can interact and collaborate seamlessly with humans. HRI encompasses various aspects, including understanding human emotions, natural language processing, and intuitive interfaces. The goal is to create robots that are easy to communicate with, understand human intentions, and adapt to individual preferences.</p>
            <!-- Examples - HRI -->
            <div class="subsection">
                <h4>Key aspects and technologies related to human-robot interaction include:</h4>
                <ul>
                    <li><strong>Natural Language Processing:&nbsp;</strong>HRI aims to develop robots that can understand and respond to human speech, enabling intuitive communication between humans and robots.</li>
                    <li><strong>Gesture and Facial Recognition:&nbsp;</strong>Robots equipped with computer vision systems can recognize human gestures and facial expressions, enhancing communication and interaction.</li>
                    <li><strong>Social and Emotional Interaction:&nbsp;</strong>HRI explores the development of robots capable of recognizing and responding to human emotions, fostering more natural and engaging interactions.</li>
                    <li><strong>Intuitive Interfaces: &nbsp;</strong>User-friendly interfaces, such as touch screens or voice commands, enable humans to interact with robots in an intuitive and accessible manner.</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

        <!-- Next Button -->
        <div class="next-button text-right mt-4">
            <a href="{{ url_for('RenderStudentDashboard') }}" class="secondary-button">Exit Course</a>
        </div>
    </div> <!-- End of course-main-content -->
</div> <!-- End of course-container -->
{% endblock %}

