{% extends "base.html" %}

{% block title %}
<title>Introduction to Robotics Programming Content - CORE</title>
{% endblock %}

{% block body %}
<div class="course-container">
    <!-- Sidebar for module navigation -->
    <div class="course-sidebar">
        <div class="course-sidebar-header">
            <i class="fas fa-list"></i>
            <span>Contents</span>
        </div>
        <ul class="course-list">
            <li class="course-item"> 
                {% if module_completed[1.11] %}
                <a href="{{ url_for('module_intro') }}" class="course-link">
                    Objectives
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Objectives</a>
                {% endif %}
            </li>
            <li class="course-item active">
                {% if module_completed[1.12] %}
                    <a href="{{ url_for('overview') }}" class="course-link">
                        Definition and Overview of Robotics
                        <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                    </a>
                {% elif module_completed[1.11] %}
                    <a href="{{ url_for('overview') }}" class="course-link">
                        Definition and Overview of Robotics
                    </a>
                {% else %}
                    <a class="course-link disabled">Definition and Overview of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#what-is-robot">What is a robot?</a></li>
                    <li><a href="#intro-field-robotics">Robotics as a Field of Study</a></li>
                    <li><a href="#goals-applications">Goals and Applications</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.13] %}
                <a href="{{ url_for('history') }}" class="course-link">
                    History of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.12] %}
                <a href="{{ url_for('history') }}" class="course-link">
                    History of Robotics
                </a>
                {% else %}
                <a class="course-link disabled">History of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial Robots</a></li>
                    <li><a href="#humanoid">Humanoid Robots</a></li>
                    <li><a href="#mobile">Mobile Robots</a></li>
                    <li><a href="#collaborative-robots">Collaborative Robots</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.14]%}
                <a href="{{ url_for('typesofrobots') }}" class="course-link">
                    Types of Robots
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.13] %}
                <a href="{{ url_for('typesofrobots') }}" class="course-link">
                    Types of Robots
                </a>
                {% else %}
                <a class="course-link disabled">Types of Robots</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial robots</a></li>
                    <li><a href="#humanoid">Humanoid robots</a></li>
                    <li><a href="#mobile">Mobile robots</a></li>
                    <li><a href="#collaborative-tools">Collaborative tools</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.15] %}
                <a href="{{ url_for('importanceandapp') }}" class="course-link">
                    Importance and Applications of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.14] %}
                <a href="{{ url_for('importanceandapp') }}" class="course-link">
                    Importance and Applications of Robotics
                </a>
                {% else %}
                <a class="course-link disabled">Importance and Applications of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#manufacturing">Manufacturing</a></li>
                    <li><a href="#healthcare">Healthcare</a></li>
                    <li><a href="#exploration">Exploration</a></li>
                    <li><a href="#agriculture">Agriculture</a></li>
                    <li><a href="#entertainment">Entertainment</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.9]%}
                <a href="{{ url_for('course1quiz1') }}" class="course-link">
                    Quiz 1
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.15] %}
                <a href="{{ url_for('course1quiz1') }}" class="course-link">
                    Quiz 1
                </a>
                {% else %}
                <a class="course-link disabled">Quiz 1</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.16] %}
                <a href="{{ url_for('robotanatomy') }}" class="course-link">
                    Robot Anatomy
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.9] %}
                <a href="{{ url_for('robotanatomy') }}" class="course-link">
                    Robot Anatomy
                </a>
                {% else %}
                <a class="course-link disabled">Robot Anatomy</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#actuators">Actuators</a></li>
                    <li><a href="#sensors">Sensors</a></li>
                    <li><a href="#controllers">Controllers</a></li>
                    <li><a href="#effectors">End Effectors</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.17] %}
                <a href="{{ url_for('challenges') }}" class="course-link">
                    Challenges in Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.16] %}
                <a href="{{ url_for('challenges') }}" class="course-link">
                    Challenges in Robotics
                </a>
                {% else %}
                <a class="course-link disabled">Challenges in Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#navandmapping">Navigation and Mapping</a></li>
                    <li><a href="#humanrobot">Human-Robot Interaction</a></li>
                    <li><a href="#perception">Perception and Recognition</a></li>
                    <li><a href="#ethics">Ethical Considerations</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.18] %}
                <a href="{{ url_for('robotprogramming') }}" class="course-link">
                    Robot Programming
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.17] %}
                <a href="{{ url_for('robotprogramming') }}" class="course-link">
                    Robot Programming
                </a>
                {% else %}
                <a class="course-link disabled">Robot Programming</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#lowlevel">Low-Level Programming</a></li>
                    <li><a href="#highlevel">High-Level Programming</a></li>
                    <li><a href="#programming-interface">Programming Interfaces</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.19] %}
                <a href="{{ url_for('implications') }}" class="course-link">
                    Social and Ethical Implications
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.18] %}
                <a href="{{ url_for('implications') }}" class="course-link">
                    Social and Ethical Implications
                </a>
                {% else %}
                <a class="course-link disabled">Social and Ethical Implications</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#privacy">Privacy</a></li>
                    <li><a href="#job-displacement">Job Displacement</a></li>
                    <li><a href="#human-robot-interaction">Human-Robot Interaction</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.21] %}
                <a href="{{ url_for('futuretrends') }}" class="course-link">
                    Future Trends
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% elif module_completed[1.19] %}
                <a href="{{ url_for('futuretrends') }}" class="course-link">
                    Future Trends
                </a>
                {% else %}
                <a class="course-link disabled">Future Trends</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#AI">Artificial Intelligence (AI) in Robotics</a></li>
                    <li><a href="#soft-robotics">Soft Robotics</a></li>
                    <li><a href="#swarm-robotics">Swarm Robotics</a></li>
                    <li><a href="#hri">Human-Robot Interaction (HRI)</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('course1quiz1_2') }}" class="course-link">Quiz 2</a>
            </li>
        </ul>
    </div> <!-- End of course-sidebar -->

    <div class="course-main-content">
        <div class="robotics-content">
            <!-- Page Header -->
            <header class="page-header">
                <div class="toggle-container">
                    <label class="toggle-switch bounce-on-load">
                        <div class="notification-bubble" id="notification">Toggle me to explain text</div>
                        <input type="checkbox" id="toggle-explainer">
                        <span class="slider">
                            <i class="fas fa-highlighter"></i>
                        </span>
                    </label>
                </div>
                <h1 class="page-title">Introduction to Robotics Programming</h1>
                <p class="page-description">Discover the foundations of robotics as a field of study, including its definition, core principles, and the exciting goals driving innovation. Explore real-world applications and how robotics is transforming industries across the globe.</p>
            </header>

            <!-- Page Divider -->
            <div class="divider">
                <span class="divider-text">Let's Dive In</span>
            </div>

            <!-- Video Section -->
            <div class="course-video-section">
                <h1 class="video-title">A Glimpse into the World of Robotics</h1>
                <div class="course-video-container">
                    <video controls id="videoPlayer" class="course-video">
                        <source src="{{ url_for('static', filename='videos/IntroVid.mov') }}" type="video/mp4">
                        Your browser does not support the video.
                    </video>
                    <div class="reference-section">
                        <h3>Reference</h3>
                        <p>
                            The Wall Street Journal. (2017, December 5). <em>The Robot Revolution: The New Age of Manufacturing | Moving Upstream</em> [Video]. YouTube. <a href="https://www.youtube.com/watch?v=HX6M4QunVmA&t=1s" target="_blank">https://www.youtube.com/watch?v=HX6M4QunVmA&t=1s</a>
                        </p>
                    </div>                
                </div>
            </div> <!-- End of course-video-section -->
            
            <!-- Section 1: What is a robot? -->
            <div class="module-section" id="what-is-robot">
                <h3>What is a robot?</h3>
                <p>Robot: An embodied agent that can be programmed to carry out a complex series of actions. A robot is an <strong>autonomous</strong> or partially autonomous machine capable of <strong>sensing its environment</strong> and <strong>making decisions based on computations</strong>. There are a variety of robots with unique qualities and capabilities.</p>
                <p>To compute, this involves everything from small electronic circuits to multicore processors or even a cluster of networked computers. In action, robots vary the most, as some robots can move around, manipulate objects, perform specific tasks, while others can do many things.</p>
            </div> <!-- End of module-section -->

            <!-- Section 2: Robotics as a field of study -->
            <div class="module-section" id="intro-field-robotics">
                <h3>Robotics as a Field of Study</h3>
                <p>Robotics is a young and continuously growing interdisciplinary field. It involves the development and construction of systems that combine electrical and mechanical components with a computer for calculations. This includes the creation of machines that assist humans with repetitive, precise, or dangerous tasks. Robotics includes core disciplines such as electrical engineering, mechanical engineering, and computer science, but also intertwines with artificial intelligence, computer vision, applied mathematics, etc.</p>
            </div> <!-- End of module-section -->

            <!-- Section 3: Goals and Applications -->
            <div class="module-section" id="goals-applications">
                <h3>Goals and Applications</h3>
                <p>Robotics can be organized based on their applications. As mentioned above, robots are useful for completing tasks that require a lot of precision, repetitive and monotonous work. Robots can be found in manufacturing industries for welding, material handling, painting, assembling, picking, packing, and palletizing, etc. Similarly, robots can be found in agriculture for repetitive tasks like seeding, harvesting, weed control, optimal soil detection. Another common place to see robots in action is in healthcare, helping doctors with performing surgical procedures and providing therapy for patients. On the other hand, robots have revolutionized exploration, as robots can explore places where humans cannot get to easily, like the depths of the ocean or outer space. Moreover, other sectors where robots are useful are entertainment, customer service, food preparation, security, etc.</p>
            </div> <!-- End of module-section -->

            <!-- Next Button -->
            <div class="navigation-buttons mt-4">
                <a href="{{ url_for('module_intro') }}" class="secondary-button">Back: Objectives</a> 
                <a href="{{ url_for('history') }}" class="secondary-button">Next: History of Robotics</a>
            </div>
        </div>

    </div> <!-- End of course-main-content -->
</div> <!-- End of course-container -->
{% endblock %}
