{% extends "base.html" %}

{% block title %}
<title>Robot Anatomy - CORE</title>
{% endblock %}

{% block body %}
<div class="course-container">
    <!-- Sidebar for module navigation -->
    <div class="course-sidebar">
        <div class="course-sidebar-header">
            <i class="fas fa-list"></i>
            <span>Contents</span>
        </div>
        <ul class="course-list">
            <li class="course-item"> 
                {% if module_completed[1.11] %}
                <a href="{{ url_for('module_intro') }}" class="course-link">
                    Objectives
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Objectives</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.12] %}
                <a href="{{ url_for('overview') }}" class="course-link">
                    Definition and Overview of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Definition and Overview of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#what-is-robot">What is a robot?</a></li>
                    <li><a href="#intro-field-robotics">Robotics as a Field of Study</a></li>
                    <li><a href="#goals-applications">Goals and Applications</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.13] %}
                <a href="{{ url_for('history') }}" class="course-link">
                    History of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">History of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial Robots</a></li>
                    <li><a href="#humanoid">Humanoid Robots</a></li>
                    <li><a href="#mobile">Mobile Robots</a></li>
                    <li><a href="#collaborative-robots">Collaborative Robots</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.14]%}
                <a href="{{ url_for('typesofrobots') }}" class="course-link">
                    Types of Robots
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Types of Robots</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial robots</a></li>
                    <li><a href="#humanoid">Humanoid robots</a></li>
                    <li><a href="#mobile">Mobile robots</a></li>
                    <li><a href="#collaborative-tools">Collaborative tools</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.15] %}
                <a href="{{ url_for('importanceandapp') }}" class="course-link">
                    Importance and Applications of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Importance and Applications of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#manufacturing">Manufacturing</a></li>
                    <li><a href="#healthcare">Healthcare</a></li>
                    <li><a href="#exploration">Exploration</a></li>
                    <li><a href="#agriculture">Agriculture</a></li>
                    <li><a href="#entertainment">Entertainment</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.9]%}
                <a href="{{ url_for('course1quiz1') }}" class="course-link">
                    Quiz 1
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Quiz 1</a>
                {% endif %}
            </li>
            <li class="course-item active">
                {% if module_completed[1.16] %}
                <a href="{{ url_for('robotanatomy') }}" class="course-link">
                    Robot Anatomy
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Robot Anatomy</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#actuators">Actuators</a></li>
                    <li><a href="#sensors">Sensors</a></li>
                    <li><a href="#controllers">Controllers</a></li>
                    <li><a href="#effectors">End Effectors</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.17] %}
                <a href="{{ url_for('challenges') }}" class="course-link">
                    Challenges in Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Challenges in Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#navandmapping">Navigation and Mapping</a></li>
                    <li><a href="#humanrobot">Human-Robot Interaction</a></li>
                    <li><a href="#perception">Perception and Recognition</a></li>
                    <li><a href="#ethics">Ethical Considerations</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.18] %}
                <a href="{{ url_for('robotprogramming') }}" class="course-link">
                    Robot Programming
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Robot Programming</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#lowlevel">Low-Level Programming</a></li>
                    <li><a href="#highlevel">High-Level Programming</a></li>
                    <li><a href="#programming-interface">Programming Interfaces</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.19] %}
                <a href="{{ url_for('implications') }}" class="course-link">
                    Social and Ethical Implications
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Social and Ethical Implications</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#privacy">Privacy</a></li>
                    <li><a href="#job-displacement">Job Displacement</a></li>
                    <li><a href="#human-robot-interaction">Human-Robot Interaction</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.21] %}
                <a href="{{ url_for('futuretrends') }}" class="course-link">
                    Future Trends
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Future Trends</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#AI">Artificial Intelligence (AI) in Robotics</a></li>
                    <li><a href="#soft-robotics">Soft Robotics</a></li>
                    <li><a href="#swarm-robotics">Swarm Robotics</a></li>
                    <li><a href="#hri">Human-Robot Interaction (HRI)</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('course1quiz1_2') }}" class="course-link">Quiz 2</a>
            </li>
        </ul>
    </div> <!-- End of course-sidebar -->

    <div class="course-main-content">
        <!-- Page Header -->
        <header class="page-header">
            <h1 class="page-title">Robot Anatomy</h1>
            <p class="page-description">To comprehend the inner workings of a robot, it is essential to understand its anatomy. This section dives into the basic components of a robot, including actuators, sensors, controllers, and end effectors. By exploring these elements, we can gain insights into how robots interact with their environment and perform tasks effectively. There are four basic components to a robot:</p>
        </header>

        <div class="divider">
            <span class="divider-text">Let's Dive In</span>
        </div>

        <!-- Section 1: Actuators  -->
        <div class="module-section" id="actuators">
            <h3>Actuators</h3>
            <p>Actuators are the components responsible for converting electrical energy into mechanical motion, enabling robots to move and perform tasks. They generate force, torque, or linear motion and are categorized into various types, including electric motors, hydraulic actuators, and pneumatic actuators. Actuators provide the necessary power and motion required for the robot to manipulate objects, navigate its environment, and perform specific actions.</p>
        </div> <!-- End of module-section -->

        <!-- Section 2: Sensors -->
        <div class="module-section" id="sensors">
            <h3>Sensors</h3>
            <p>Sensors are vital components that enable robots to perceive and understand their surroundings. They collect data from the environment or the robot itself and provide information such as position, orientation, distance, temperature, and more. Sensors can include cameras, proximity sensors, force sensors, temperature sensors, and many others. By gathering data from sensors, robots can make informed decisions, adapt to changes, and interact intelligently with their environment.</p>
        </div> <!-- End of module-section -->

        <!-- Section 3: Exploration -->
        <div class="module-section" id="controllers">
            <h3>Controllers</h3>
            <p>Robots have become invaluable tools for exploring challenging and hazardous environments, both on Earth and in space. Mars rovers, for example, collect data and samples, providing insights into planetary geology and the potential for extraterrestrial life. Autonomous underwater and aerial robots explore underwater ecosystems and remote environments, enabling scientific research and environmental monitoring.</p>
              <!-- Applications - Exploration -->
              <div class="subsection">
                <h4>Applications</h4>
                <ul>
                    <li>Planetary exploration</li>
                    <li>Underwater exploration</li>
                    <li>Remote sensing and monitoring</li>
                    <li>Search and rescue operations</li>
                    <li>Hazardous environment exploration</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

        <!-- Section 4: Agriculture -->
        <div class="module-section" id="agriculture">
            <h3>Agriculture</h3>
            <p>Robotics has the potential to revolutionize agriculture by increasing efficiency, sustainability, and productivity. Agricultural robots, known as agribots, perform tasks such as planting, harvesting, monitoring crop health, and precision spraying. They can operate autonomously, optimizing resource utilization and reducing environmental impact. Robotics in agriculture enable precision farming techniques, improving crop yields and reducing labor-intensive processes.</p>
               <!-- Applications - Agriculture -->
               <div class="subsection">
                <h4>Applications</h4>
                <ul>
                    <li>Planting and seeding</li>
                    <li>Crop monitoring and management</li>
                    <li>Harvesting and sorting</li>
                    <li>Precision spraying and irrigation</li>
                    <li>Greenhouse automation</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

        <!-- Section 5: Entertainment -->
        <div class="module-section" id="entertainment">
            <h3>Entertainment</h3>
            <p>Robotic technologies have found their place in the entertainment industry, captivating audiences, and providing engaging experiences. Robots, such as animatronics and humanoid robots, are used in theme parks, museums, and interactive exhibits. They entertain, educate, and create immersive experiences for visitors, blurring the boundaries between technology and entertainment.</p>
                <!-- Applications - Entertainment -->
                <div class="subsection">
                    <h4>Applications</h4>
                    <ul>
                        <li>Animatronics in theme parks</li>
                        <li>Humanoid robots in interactive exhibits</li>
                        <li>Robotic characters in movies and shows</li>
                        <li>Virtual reality and augmented reality experiences</li>
                        <li>Gaming and robotic competitions</li>
                    </ul>
                </div>
        </div> <!-- End of module-section -->
        
        <!-- Next Button -->
        <div class="navigation-buttons mt-4">
            <a href="{{ url_for('course1quiz1') }}" class="secondary-button">Back: Quiz 1</a>
            <a href="{{ url_for('challenges') }}" class="secondary-button">Next: Challenges in Robotics</a>
        </div>

    </div> <!-- End of course-main-content -->
</div> <!-- End of course-container -->
{% endblock %}
