{% extends "base.html" %}

{% block title %}
<title>Social and ethical implications - CORE</title>
{% endblock %}

{% block body %}
<div class="course-container">
    <!-- Sidebar for module navigation -->
    <div class="course-sidebar">
        <div class="course-sidebar-header">
            <i class="fas fa-list"></i>
            <span>Contents</span>
        </div>
        <ul class="course-list">
            <li class="course-item"> 
                {% if module_completed[1.11] %}
                <a href="{{ url_for('module_intro') }}" class="course-link">
                    Objectives
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Objectives</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.12] %}
                <a href="{{ url_for('overview') }}" class="course-link">
                    Definition and Overview of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Definition and Overview of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#what-is-robot">What is a robot?</a></li>
                    <li><a href="#intro-field-robotics">Robotics as a Field of Study</a></li>
                    <li><a href="#goals-applications">Goals and Applications</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.13] %}
                <a href="{{ url_for('history') }}" class="course-link">
                    History of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">History of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial Robots</a></li>
                    <li><a href="#humanoid">Humanoid Robots</a></li>
                    <li><a href="#mobile">Mobile Robots</a></li>
                    <li><a href="#collaborative-robots">Collaborative Robots</a></li>
                </ul>
            </li>
            <li class="course-item active">
                {% if module_completed[1.14]%}
                <a href="{{ url_for('typesofrobots') }}" class="course-link">
                    Types of Robots
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Types of Robots</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial robots</a></li>
                    <li><a href="#humanoid">Humanoid robots</a></li>
                    <li><a href="#mobile">Mobile robots</a></li>
                    <li><a href="#collaborative-tools">Collaborative tools</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.15] %}
                <a href="{{ url_for('importanceandapp') }}" class="course-link">
                    Importance and Applications of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Importance and Applications of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#manufacturing">Manufacturing</a></li>
                    <li><a href="#healthcare">Healthcare</a></li>
                    <li><a href="#exploration">Exploration</a></li>
                    <li><a href="#agriculture">Agriculture</a></li>
                    <li><a href="#entertainment">Entertainment</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.9]%}
                <a href="{{ url_for('course1quiz1') }}" class="course-link">
                    Quiz 1
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Quiz 1</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.16] %}
                <a href="{{ url_for('robotanatomy') }}" class="course-link">
                    Robot Anatomy
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Robot Anatomy</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#actuators">Actuators</a></li>
                    <li><a href="#sensors">Sensors</a></li>
                    <li><a href="#controllers">Controllers</a></li>
                    <li><a href="#effectors">End Effectors</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.17] %}
                <a href="{{ url_for('challenges') }}" class="course-link">
                    Challenges in Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Challenges in Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#navandmapping">Navigation and Mapping</a></li>
                    <li><a href="#humanrobot">Human-Robot Interaction</a></li>
                    <li><a href="#perception">Perception and Recognition</a></li>
                    <li><a href="#ethics">Ethical Considerations</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.18] %}
                <a href="{{ url_for('robotprogramming') }}" class="course-link">
                    Robot Programming
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Robot Programming</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#lowlevel">Low-Level Programming</a></li>
                    <li><a href="#highlevel">High-Level Programming</a></li>
                    <li><a href="#programming-interface">Programming Interfaces</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.19] %}
                <a href="{{ url_for('implications') }}" class="course-link">
                    Social and Ethical Implications
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Social and Ethical Implications</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#privacy">Privacy</a></li>
                    <li><a href="#job-displacement">Job Displacement</a></li>
                    <li><a href="#human-robot-interaction">Human-Robot Interaction</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.21] %}
                <a href="{{ url_for('futuretrends') }}" class="course-link">
                    Future Trends
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Future Trends</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#AI">Artificial Intelligence (AI) in Robotics</a></li>
                    <li><a href="#soft-robotics">Soft Robotics</a></li>
                    <li><a href="#swarm-robotics">Swarm Robotics</a></li>
                    <li><a href="#hri">Human-Robot Interaction (HRI)</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('course1quiz1_2') }}" class="course-link">Quiz 2</a>
            </li>
        </ul>
    </div> <!-- End of course-sidebar -->

    <div class="course-main-content">
        <!-- Page Header -->
        <header class="page-header">
            <h1 class="page-title">Social and Ethical Implications</h1>
            <p class="page-description">The rapid advancement of robotics has not only revolutionized various industries but also brought forth significant social, ethical, and economic implications.</p>
        </header>

        <div class="divider">
            <span class="divider-text">Let's Dive In</span>
        </div>

        <!-- Section 1: Privacy -->
        <div class="module-section" id="privacy">
            <h3>Privacy</h3>
            <p>With the increasing presence of robots and AI systems in our environments, privacy concerns arise. Robots equipped with cameras, sensors, and data storage capabilities raise questions about surveillance, data collection, and information security. Maintaining individuals' privacy rights and ensuring responsible data handling become paramount. Striking a balance between the benefits of robotic technologies and privacy protection is essential.</p>
            <!-- Examples - Privacy -->
            <div class="subsection">
                <h4>Examples of Possible Consequences</h4>
                <ul>
                    <li><strong>Unauthorized data collection:&nbsp;</strong> Robots collect personal information without explicit consent, leading to potential privacy breaches and misuse of data.</li>
                    <li><strong>Surveillance concerns:&nbsp;</strong> Surveillance robots monitoring public spaces or workplaces, raising questions about individuals' right to privacy and the potential for abuse or misuse of surveillance data.</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

         <!-- Section 2: Job Displacement-->
         <div class="module-section" id="job-displacement">
            <h3>Job Displacement</h3>
            <p>As robots become more capable and automated systems advance, there is a legitimate concern about job displacement. Some tasks traditionally performed by humans are now being automated, leading to potential unemployment and economic disruption. Ensuring a smooth transition and creating opportunities for upskilling and reskilling of the workforce become critical considerations.</p>
            <!-- Examples - Job Displacement-->
            <div class="subsection">
                <h4>Examples of Possible Consequences:</h4>
                <ul>
                    <li><strong>Job loss:&nbsp;</strong>Automation of repetitive or routine tasks leading to reduced employment opportunities in certain industries, potentially impacting livelihoods and economic stability.</li>
                    <li><strong>Skills gap:&nbsp;</strong>Rapid advancements in robotics requiring workers to acquire new skills or risk being left behind, exacerbating inequalities and creating a divide between those who can adapt and those who cannot.</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

        <!-- Section 3: Human-Robot Interaction -->
        <div class="module-section" id="human-robot-interaction">
            <h3>Human-Robot Interaction</h3>
            <p>The increasing integration of robots into various domains necessitates effective human-robot interaction. Robots are being designed to collaborate with humans in workplaces, provide healthcare assistance, or serve as companions. Ethical considerations arise in designing robots that respect human autonomy, ensure safety, and promote user trust. Understanding social cues, emotions, and ethical decision-making become key challenges.</p>
            <!-- Examples - Human-Robot Interaction-->
            <div class="subsection">
                <h4>Examples of Possible Consequences:</h4>
                <ul>
                    <li><strong>Ethical dilemmas:&nbsp;</strong>Robots making autonomous decisions that may have ethical implications, such as in healthcare settings, where a robot may have to prioritize patient well-being over privacy concerns.</li>
                    <li><strong>Emotional impact:&nbsp;</strong>Human-like social robots creating emotional bonds with individuals, leading to complex ethical questions regarding responsibility, attachment, and potential emotional manipulation.</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

        <!-- Next Button -->
        <div class="next-button text-right mt-4">
            <a href="{{ url_for('futuretrends') }}" class="secondary-button">Next: Future Trends</a>
        </div>
    </div> <!-- End of course-main-content -->
</div> <!-- End of course-container -->
{% endblock %}

