{% extends "base.html" %}

{% block title %}
<title>Types of Robots - CORE</title>
{% endblock %}

{% block body %}
<div class="course-container">
    <!-- Sidebar for module navigation -->
    <div class="course-sidebar">
        <div class="course-sidebar-header">
            <i class="fas fa-list"></i>
            <span>Contents</span>
        </div>
        <ul class="course-list">
            <li class="course-item"> 
                {% if module_completed[1.11] %}
                <a href="{{ url_for('module_intro') }}" class="course-link">
                    Objectives
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Objectives</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.12] %}
                <a href="{{ url_for('overview') }}" class="course-link">
                    Definition and Overview of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Definition and Overview of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#what-is-robot">What is a robot?</a></li>
                    <li><a href="#intro-field-robotics">Robotics as a Field of Study</a></li>
                    <li><a href="#goals-applications">Goals and Applications</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.13] %}
                <a href="{{ url_for('history') }}" class="course-link">
                    History of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">History of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial Robots</a></li>
                    <li><a href="#humanoid">Humanoid Robots</a></li>
                    <li><a href="#mobile">Mobile Robots</a></li>
                    <li><a href="#collaborative-robots">Collaborative Robots</a></li>
                </ul>
            </li>
            <li class="course-item active">
                {% if module_completed[1.14]%}
                <a href="{{ url_for('typesofrobots') }}" class="course-link">
                    Types of Robots
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Types of Robots</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#industrial">Industrial robots</a></li>
                    <li><a href="#humanoid">Humanoid robots</a></li>
                    <li><a href="#mobile">Mobile robots</a></li>
                    <li><a href="#collaborative-tools">Collaborative tools</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.15] %}
                <a href="{{ url_for('importanceandapp') }}" class="course-link">
                    Importance and Applications of Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Importance and Applications of Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#manufacturing">Manufacturing</a></li>
                    <li><a href="#healthcare">Healthcare</a></li>
                    <li><a href="#exploration">Exploration</a></li>
                    <li><a href="#agriculture">Agriculture</a></li>
                    <li><a href="#entertainment">Entertainment</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.9]%}
                <a href="{{ url_for('course1quiz1') }}" class="course-link">
                    Quiz 1
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Quiz 1</a>
                {% endif %}
            </li>
            <li class="course-item">
                {% if module_completed[1.16] %}
                <a href="{{ url_for('robotanatomy') }}" class="course-link">
                    Robot Anatomy
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Robot Anatomy</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#actuators">Actuators</a></li>
                    <li><a href="#sensors">Sensors</a></li>
                    <li><a href="#controllers">Controllers</a></li>
                    <li><a href="#effectors">End Effectors</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.17] %}
                <a href="{{ url_for('challenges') }}" class="course-link">
                    Challenges in Robotics
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Challenges in Robotics</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#navandmapping">Navigation and Mapping</a></li>
                    <li><a href="#humanrobot">Human-Robot Interaction</a></li>
                    <li><a href="#perception">Perception and Recognition</a></li>
                    <li><a href="#ethics">Ethical Considerations</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.18] %}
                <a href="{{ url_for('robotprogramming') }}" class="course-link">
                    Robot Programming
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Robot Programming</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#lowlevel">Low-Level Programming</a></li>
                    <li><a href="#highlevel">High-Level Programming</a></li>
                    <li><a href="#programming-interface">Programming Interfaces</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.19] %}
                <a href="{{ url_for('implications') }}" class="course-link">
                    Social and Ethical Implications
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Social and Ethical Implications</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#privacy">Privacy</a></li>
                    <li><a href="#job-displacement">Job Displacement</a></li>
                    <li><a href="#human-robot-interaction">Human-Robot Interaction</a></li>
                </ul>
            </li>
            <li class="course-item">
                {% if module_completed[1.21] %}
                <a href="{{ url_for('futuretrends') }}" class="course-link">
                    Future Trends
                    <svg class="checkmark-icon"><use xlink:href="/static/img/sidebar-icons.svg#checkmark-icon"></use></svg>
                </a>
                {% else %}
                <a class="course-link disabled">Future Trends</a>
                {% endif %}
                <ul class="sub-list">
                    <li><a href="#AI">Artificial Intelligence (AI) in Robotics</a></li>
                    <li><a href="#soft-robotics">Soft Robotics</a></li>
                    <li><a href="#swarm-robotics">Swarm Robotics</a></li>
                    <li><a href="#hri">Human-Robot Interaction (HRI)</a></li>
                </ul>
            </li>
        </ul>
    </div> <!-- End of course-sidebar -->

    <div class="course-main-content">
        <!-- Page Header -->
        <header class="page-header">
            <h1 class="page-title">Types of Robots</h1>
            <p class="page-description">Robots are versatile machines that come in various forms and serve a wide range of purposes. Understanding the different categories of robots based on their structure, mobility, and applications is essential for gaining insights into their capabilities and potential uses. The four primary categories of robots: industrial robots, humanoid robots, mobile robots, and collaborative robots.</p>
        </header>

        <div class="divider">
            <span class="divider-text">Let's Dive In</span>
        </div>

        <!-- Section 1: Industrial Robots  -->
        <div class="module-section" id="industrial">
            <h3>Industrial Robots</h3>
            <p>Industrial robots are designed to perform repetitive tasks in manufacturing and industrial environments. They are typically large, stationary machines with multiple axes of motion and are often used in assembly lines, material handling, welding, and painting. Industrial robots are known for their precision, speed, and reliability, and they have significantly increased productivity in industries worldwide.</p>
             <!-- Key Characteristics -->
            <div class="subsection">
                <h4>Key Characteristics</h4>
                <ul>
                    <li>Stationary and fixed in place.</li>
                    <li>Equipped with multiple axes of motion for precise movements.</li>
                    <li>Often used for repetitive tasks in manufacturing and assembly processes.</li>
                </ul>
            </div>
            
            <!-- Common Applications -->
            <div class="subsection">
                <h4>Common Applications</h4>
                <ul>
                    <li>Welding</li>
                    <li>Painting</li>
                    <li>Material handling</li>
                </ul>
            </div>
        </div> <!-- End of module-section -->

        <!-- Section 2: Humanoid Robots -->
        <div class="module-section" id="humanoid">
            <h3>Humanoid Robots</h3>
            <p>Humanoid robots are designed to resemble humans in their appearance and movement. They are typically equipped with a human-like body structure, including a head, torso, arms, and legs. Humanoid robots aim to interact and communicate with humans, mimicking human actions and expressions.</p>
        </div> <!-- End of module-section -->

        <!-- Section 3: Mobile Robots -->
        <div class="module-section" id="mobile">
            <h3>Mobile Robots</h3>
            <p>Mobile robots are designed to navigate and operate in various environments autonomously or with minimal human intervention. They can move from one place to another and perform tasks while on the move. Mobile robots can have different forms, such as wheeled robots, legged robots, or drones, depending on the terrain and tasks they are designed for.</p>
        </div> <!-- End of module-section -->

        <!-- Section 4: Collaborative Robots -->
        <div class="module-section" id="collaborative-robots">
            <h3>Collaborative Robots</h3>
            <p>Collaborative robots, also known as cobots, are designed to work alongside humans in a shared workspace safely. Unlike traditional industrial robots that are isolated in cages, cobots are equipped with advanced sensors and control systems to detect and respond to human presence. They are designed to assist humans in tasks that require cooperation, such as assembly, inspection, and packaging. Cobots have opened up new possibilities for human-robot collaboration and are being increasingly used in industries to enhance productivity and safety.</p>
        </div> <!-- End of module-section -->

        <!-- Next Button -->
        <div class="next-button text-right mt-4">
            <a href="{{ url_for('importanceandapp') }}" class="secondary-button">Next: Importance and Applications of Robotics</a>
        </div>
    </div> <!-- End of course-main-content -->
</div> <!-- End of course-container -->
{% endblock %}
