{% extends "base.html" %}

{% block title %}
<title>Autonomous Car with Sensors Robot Objectives - CORE - CORE</title>
{% endblock %}

{% block body %}
<div class="course-container">
    <!-- Sidebar for module navigation -->
    <div class="course-sidebar">
        <div class="course-sidebar-header">
            <i class="fas fa-list"></i>
            <span>Contents</span>
        </div>
        <ul class="course-list">
            <li class="course-item active"> 
                <a href="{{ url_for ('module_eleven') }}" class="course-link">Objectives</a>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_eleven_about') }}" class="course-link">About</a>
                <ul class="sub-list">
                    <li><a href="#about-car">Autonomous Car Robot</a></li>
                    <li><a href="#sim-v-real">Simulation vs. Real Car</a></li>
                    <li><a href="#gallery">Autonomous Car Gallery</a></li>
                    <li><a href="#real-world">Real-World Applicability</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_eleven_given') }}" class="course-link">Environment</a>
                <ul class="sub-list">
                    <li><a href="#word-bank-car">Word Bank</a></li>
                    <li><a href="#given-car">What is Given</a></li>
                    <li><a href="#retrieve-car">What needs to be Retrieved</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_eleven_code') }}" class="course-link">Coding Logic</a>
                <ul class="sub-list">
                    <li><a href="#word-bank-car">Word Bank</a></li>
                    <li><a href="#understand-the-environment">Understand the Environment</a></li>
                    <li><a href="#initialize-the-action">Initialize the Action</a></li>
                    <li><a href="#retrieve-sensor-values">Retrieve Sensor Values</a></li>
                    <li><a href="#determine-movement">Determine Movement</a></li>
                    <li><a href="#prepare-actions">Prepare Actions</a></li>
                    <li><a href="#apply-actions">Apply Actions</a></li>
                    <li><a href="#small-delay">Add a Delay</a></li>
                    <li><a href="#while-loop">Embedding a While Loop</a></li>
                    <li><a href="#key-takeaways">Key Takeaways</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('course11quiz11') }}" class="course-link">Quiz</a>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_eleven_download') }}" class="course-link">Cheat Sheet</a>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_eleven_link') }}" class="course-link">Time to Code</a>
            </li>
            <li class="course-item">
                <a href="{{ url_for ('module_eleven_certificate_car') }}" class="course-link">Certificate</a>
            </li>
        </ul>
    </div> <!-- End of course-sidebar -->
    
    <!-- Main Content for the module -->
    <div class="course-main-content">
        <!-- Title and Objectives Section -->
        <div class="container objectives-section">
            <h1 class="module-h1-title">Autonomous Car with Sensors Robot</h1>
            <h2 class="module1-section-title">What You Will Learn</h2>
            <!--<div class="next-button text-center mt-4">
                <a href="{{ url_for('overview') }}" class="secondary-button"> Start: Definition and Overview</a>
            </div>-->
            <p class="module1-section-subtitle">Here are the key skills and knowledge you'll gain from this module</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/c1.png" alt="About the Autonomous Car with Sensors Robot">
                        </div>
                        <h4>About</h4>
                        <p>Learn about the autonomous car with sensors robot.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/c2.png" alt="Autonomous Car with Sensors Environment">
                        </div>
                        <h4>Environment</h4>
                        <p>Learn the pieces that make up the robot's environment.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/c3.png" alt="Coding Logic">
                        </div>
                        <h4>Coding Logic</h4>
                        <p>Grasp the logic behind coding the autonomous car.</p>
                    </div>
                </div>
            </div> <!-- End of row -->
        </div> <!-- End of objectives-section -->
        <div class="next-button text-right mt-4">
            <a href="{{ url_for('module_eleven_about') }}" class="secondary-button"> Next: About the Robot</a>
        </div>
    </div> <!-- End of course-main-content -->
</div> <!-- End of course-container -->
{% endblock %}
