<footer class="footer">
	<div class="container py-3">
		<nav>
			<ul class="nav flex-column flex-md-row align-items-center">
				<li class="nav-item">
					<a class="btn btn-link btn-logo" id="footer-logo" href="{{ url_for('RenderHomepage') }}">
						<img src="{{ url_for('static', filename='img/logo.png') }}" alt="CORE Logo" style="width: 40px; height: 40px;">
						core
					</a>
				</li>
				<li class="nav-item ms-md-auto">
					<a class="nav-link" href="#">Terms of Use</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Privacy Policy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Site Map</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>
