{% extends "base.html" %}

{% block title %}
<title>Types of Robots - CORE</title>
{% endblock %}

{% block body %}
<div class="course-container">
    <!-- Sidebar for module navigation -->
    <div class="course-sidebar">
        <div class="course-sidebar-header">
            <i class="fas fa-list"></i>
            <span>Contents</span>
        </div>
        <ul class="course-list">
            <li class="course-item active"> 
                <a href="#objectives" class="course-link">Objectives</a>
            </li>
            <li class="course-item"> 
                <a href="#introduction-of-mobile-robotics" class="course-link">Introduction of Mobile Robotics</a>
                <ul class="sub-list">
                    <li><a href="#agent">Agent</a></li>
                    <li><a href="#autonomy">Autonomy</a></li>
                    <li><a href="#shakey">First Mobile Robot</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#industrial-robots" class="course-link">Industrial Robots</a>
                <ul class="sub-list">
                    <li><a href="#robotic-arms">Robotic Arms</a></li>
                    <li><a href="#robotic-arm-configurations">Types of Robotic Arm Configurations</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#service-robots" class="course-link">Service Robots</a>
                <ul class="sub-list">
                    <li><a href="#healthcare-robots">Healthcare Robots</a></li>
                    <li><a href="#hospitality-robots">Hospitality Robots</a></li>
                    <li><a href="#cleaning-robots">Cleaning Robots</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#mobile-robots" class="course-link">Mobile Robots</a>
                <ul class="sub-list">
                    <li><a href="#wheeled-robots">Wheeled Robots</a></li>
                    <li><a href="#legged-robots">Legged Robots</a></li>
                    <li><a href="#aerial-drones">Aerial Drones</a></li>
                    <li><a href="#underwater-robots">Underwater Robots</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#humanoid-robots" class="course-link">Humanoid Robots</a>
                <ul class="sub-list">
                    <li><a href="#applications-in-research">Applications in Research</a></li>
                    <li><a href="#entertainment-robots">Entertainment Robots</a></li>
                    <li><a href="#human-robot-interaction">Human-Robot Interaction</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#agricultural-robots" class="course-link">Agricultural Robots</a>
                <ul class="sub-list">
                    <li><a href="#crop-monitoring">Crop Monitoring</a></li>
                    <li><a href="#harvesting">Harvesting</a></li>
                    <li><a href="#seeding">Seeding</a></li>
                    <li><a href="#precision-farming">Precision Farming</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#medical-robots" class="course-link">Medical Robots</a>
                <ul class="sub-list">
                    <li><a href="#surgical-robots">Surgical Robots</a></li>
                    <li><a href="#rehabilitation-robots">Rehabilitation Robots</a></li>
                    <li><a href="#robot-prosthetics">Robot Prosthetics</a></li>
                    <li><a href="#robotic-exoskeletons">Robotic Exoskeletons</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#exploration-robots" class="course-link">Exploration Robots</a>
                <ul class="sub-list">
                    <li><a href="#planetary-rovers">Planetary Rovers</a></li>
                    <li><a href="#underwater-exploration-robots">Underwater Exploration Robots</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#military-defense-robots" class="course-link">Military and Defense Robots</a>
                <ul class="sub-list">
                    <li><a href="#unmanned-aerial-vehicles">Unmanned Aerial Vehicles</a></li>
                    <li><a href="#bomb-disposal-robots">Bomb Disposal Robots</a></li>
                    <li><a href="#reconnaissance-robots">Reconnaissance Robots</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#educational-robots" class="course-link">Educational Robots</a>
                <ul class="sub-list">
                    <li><a href="#programmable-robotics-education">Programmable Robotics for Education</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#entertainment-robots" class="course-link">Entertainment Robots</a>
                <ul class="sub-list">
                    <li><a href="#robotic-companions">Robotic Companions</a></li>
                    <li><a href="#interactive-toys">Interactive Toys</a></li>
                    <li><a href="#robot-performers">Robot Performers</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#collaborative-robots-cobots" class="course-link">Collaborative Robots (Cobots)</a>
                <ul class="sub-list">
                    <li><a href="#social-robots">Social Robots</a></li>
                    <li><a href="#therapy">Therapy</a></li>
                    <li><a href="#companionship">Companionship</a></li>
                    <li><a href="#social-interaction">Social Interaction</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#exoskeleton-robots" class="course-link">Exoskeleton Robots</a>
                <ul class="sub-list">
                    <li><a href="#rehabilitation">Rehabilitation</a></li>
                    <li><a href="#assistive-devices">Assistive Devices</a></li>
                    <li><a href="#industrial-settings">Industrial Settings</a></li>
                </ul>
            </li>
            <li class="course-item">
                <a href="#bio-inspired-robots" class="course-link">Bio-inspired Robots</a>
                <ul class="sub-list">
                    <li><a href="#swarm-robots">Swarm Robots</a></li>
                </ul>
            </li>
        </ul>
    </div> <!-- End of course-sidebar -->
    
    <!-- Main Content for the module -->
    <div class="course-main-content">
        <!-- Title and Objectives Section -->
        <div class="container objectives-section">
            <h1 class="module-h1-title">Types of Robots and Mobile Robotics</h1>
            <h2 class="module1-section-title">What You Will Learn</h2>
            <p class="module1-section-subtitle">Here are the key skills and knowledge you'll gain from this module</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/mobile.png" alt="Introduction of Mobile Robotics">
                        </div>
                        <h4>Introduction of Mobile Robotics</h4>
                        <p>Learn the basics of mobile robotics and its core concepts.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/industry.png" alt="Industrial Robots">
                        </div>
                        <h4>Industrial Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/service.png" alt="Service Robots">
                        </div>
                        <h4>Service Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/wheel.png" alt="Mobile Robots">
                        </div>
                        <h4>Mobile Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/dancing.png" alt="Humanoid Robots">
                        </div>
                        <h4>Humanoid Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/puzzle.png" alt="Agricultural Robots">
                        </div>
                        <h4>Agricultural Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/coding.png" alt="Medical Robots">
                        </div>
                        <h4>Medical Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/people.png" alt="Exploration Robots">
                        </div>
                        <h4>Exploration Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/future.png" alt="Military and Defense Robots">
                        </div>
                        <h4>Military and Defense Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/future.png" alt="Educational Robots">
                        </div>
                        <h4>Educational Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/future.png" alt="Entertainment Robots">
                        </div>
                        <h4>Entertainment Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/future.png" alt="Collaborative Robots (Cobots)">
                        </div>
                        <h4>Collaborative Robots (Cobots)</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/future.png" alt="Exoskeleton Robots">
                        </div>
                        <h4>Exoskeleton Robots</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="objective-card">
                        <div class="icon">
                            <img src="/static/img/future.png" alt="Bio-inspired Robots">
                        </div>
                        <h4>Bio-inspired Robots</h4>
                        <p>.</p>
                    </div>
                </div>
            </div> <!-- End of row -->            
        </div> <!-- End of objectives-section -->
        <div class="next-button text-right mt-4">
            <a href="{{ url_for('intro_of_mobile_robots') }}" class="secondary-button"> Next: Introduction of Mobile Robotics</a>
        </div>
    </div> <!-- End of course-main-content -->
</div> <!-- End of course-container -->
{% endblock %}
